src/main/resources/ExternalReportRemotingService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.remoting.externalreport.cda.fleni.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ExternalReportRemotingServiceService" targetNamespace="http://server.remoting.externalreport.cda.fleni.org/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.remoting.externalreport.cda.fleni.org/" elementFormDefault="unqualified" targetNamespace="http://server.remoting.externalreport.cda.fleni.org/" version="1.0">
<xs:element name="createReportInformation" type="tns:createReportInformation"/>
<xs:element name="createReportInformationResponse" type="tns:createReportInformationResponse"/>
<xs:element name="externalReportInformation" type="tns:externalReportInformation"/>
<xs:element name="externalReportResponse" type="tns:externalReportResponse"/>
<xs:complexType name="createReportInformation">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:externalReportInformation"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="externalReportInformation">
<xs:sequence>
<xs:element minOccurs="0" name="episodeNumber" type="xs:string"/>
<xs:element name="firstTime" type="xs:boolean"/>
<xs:element minOccurs="0" name="messageJsonData" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="nhc" type="xs:string"/>
<xs:element minOccurs="0" name="reportDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="reportId" type="xs:string"/>
<xs:element minOccurs="0" name="reportName" type="xs:string"/>
<xs:element minOccurs="0" name="reportOriginalId" type="xs:string"/>
<xs:element minOccurs="0" name="typeEpisode" type="xs:string"/>
<xs:element minOccurs="0" name="version" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createReportInformationResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:externalReportResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="externalReportResponse">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="externalReportId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="createReportInformationResponse">
<wsdl:part element="tns:createReportInformationResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="createReportInformation">
<wsdl:part element="tns:createReportInformation" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="IExternalReportRemotingService">
<wsdl:operation name="createReportInformation">
<wsdl:input message="tns:createReportInformation" name="createReportInformation"></wsdl:input>
<wsdl:output message="tns:createReportInformationResponse" name="createReportInformationResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ExternalReportRemotingServiceServiceSoapBinding" type="tns:IExternalReportRemotingService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="createReportInformation">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="createReportInformation">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="createReportInformationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ExternalReportRemotingServiceService">
<wsdl:port binding="tns:ExternalReportRemotingServiceServiceSoapBinding" name="ExternalReportRemotingServicePort">
<soap:address location="http://172.16.1.152:88/cda-mais-integration/ws/ExternalReportRemotingService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>