src/main/resources/LaboratoryCdaRemotingService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.remoting.externalreport.cda.fleni.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LaboratoryCdaRemotingServiceService" targetNamespace="http://server.remoting.externalreport.cda.fleni.org/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.remoting.externalreport.cda.fleni.org/" elementFormDefault="unqualified" targetNamespace="http://server.remoting.externalreport.cda.fleni.org/" version="1.0">
<xs:element name="externalReportResponse" type="tns:externalReportResponse"/>
<xs:element name="sendCDALaboratory" type="tns:sendCDALaboratory"/>
<xs:element name="sendCDALaboratoryResponse" type="tns:sendCDALaboratoryResponse"/>
<xs:complexType name="sendCDALaboratory">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="sendCDALaboratoryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:externalReportResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="externalReportResponse">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="externalReportId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="sendCDALaboratoryResponse">
<wsdl:part element="tns:sendCDALaboratoryResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="sendCDALaboratory">
<wsdl:part element="tns:sendCDALaboratory" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="ILaboratoryCdaRemotingService">
<wsdl:operation name="sendCDALaboratory">
<wsdl:input message="tns:sendCDALaboratory" name="sendCDALaboratory"></wsdl:input>
<wsdl:output message="tns:sendCDALaboratoryResponse" name="sendCDALaboratoryResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="LaboratoryCdaRemotingServiceServiceSoapBinding" type="tns:ILaboratoryCdaRemotingService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="sendCDALaboratory">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="sendCDALaboratory">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="sendCDALaboratoryResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="LaboratoryCdaRemotingServiceService">
<wsdl:port binding="tns:LaboratoryCdaRemotingServiceServiceSoapBinding" name="LaboratoryCdaRemotingServicePort">
<soap:address location="http://172.16.1.152:88/cda-mais-integration/ws/LaboratoryCdaRemotingService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>